<div class="col-xs-1 col-sm-1 col-md-2 sidebar">
    <ul class="nav">
        <li class="active">
            <a href="#">
                <span class="glyphicon"></span>
                <span class="nav-label">Default Style</span>
            </a>
        </li>
        <!--<li>
            <a data-toggle="collapse" href="#analytics">
                <span class="glyphicon"></span>
                <span class="nav-label">
                    Analytics <span class="fa fa-angle-down"></span>
                </span>
            </a>
            <ul id="analytics" class="collapse nav">
                <li>
                    <a href="#">
                        <span class="glyphicon"></span>
                        <span class="nav-label"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon"></span>
                        <span class="nav-label"></span>
                    </a>
                </li>
            </ul>
        </li>-->
        <li class="soon">
            <a href="#">
                <span class="glyphicon"></span>
                <span class="nav-label">History</span>
            </a>
        </li>
		
		<!--<li class="generatedDate">
            <a href="#">
                <span class="glyphicon"></span>
                <span class="nav-label"><%= timestamp %></span>
            </a>
        </li>-->
		
		<!-- Please, don't remove it :( -->
		<li id="copyright" class="copyright">
            <a href="https://github.com/AdrianoCahete/Kerberos" target="_blank">
                <span class="glyphicon"></span>
                <span class="nav-label">Created in Kerberos</span>
            </a>
        </li>
    </ul>
</div>